* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  font-family: "Delius Unicase", cursive;
}

a {
  font-size: 2rem;
  color: #f3f3f3;
  text-decoration: none;
}

body {
  background: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 900px;
  border: #af2655 solid 3px;
}

/* body,
main,
section {
  display: flex;
  justify-content: center;
  align-items: center;
} */

button {
  padding: 10px;
  border-radius: 150px;
  background: #860a35;
  margin: 10% 0 10% 0;
}

#bg_img {
  width: 110%;
  position: absolute;
  z-index: -1;
}

header {
  width: 100%;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -800px;
}

.mid-range {
  position: absolute;
  z-index: 1;
  left: 33%;
  top: 33%;
  width: 30%;
  height: 55%;
}

.order-button {
  position: absolute;
  left: 44%;
  top: 60%;
  z-index: -2;
  border: #af2655 solid 3px;
}

nav {
  background: #af2655;
  padding: 15px;
  width: 75%;
  display: flex;
  justify-content: center;
  border-radius: 150px;
}

li {
  list-style: none;
  display: inline;
  text-decoration: none;
  margin: 0 60px;
}

footer {
  width: 100%;
  height: 50px;
  background: #af2655;
  margin-top: 900px;
  position: absolute;
  z-index: -1;
}

footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f3f3f3;
  font-size: 1rem;
  margin-top: 1.5%;
}

.socials {
  position: absolute;
  left: 38.5%;
  top: 90%;
  z-index: 0;
}

.socials li a {
  color: #af2655;
}

/* Gallery Page */
#menu-view {
  width: 500px;
  height: 500px;
  background-color: #af2655;
  position: absolute;
  left: 37%;
}

#menu-view h1 {
  display: flex;
  justify-content: center;
  color: #f3f3f3;
}

#menu-view table {
  display: flex;
  justify-content: center;
  border: black 2px solid;
}

#menu-view table tr {
  display: flex;
  justify-content: center;
  border: black 2px solid;
  font-size: 2.3rem;
}

#menu-view table td {
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 360px) {
}
