* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
    font-family: "Delius Unicase", cursive;
  }

  body{
    width: 100%;
    /* height: 50%; */
    background: #f3f3f3;
    background-image:url(image/donut-1200x800.png);
  }
  header, footer{
    width: 100%;
    height: 55px;
    background: #860a35;
    padding-top: 4px;
  }
  nav{
    margin-top: 13px;
  }
 ul{
    display: flex;
    justify-content: space-evenly;
  }
  li{
    list-style: none;
  }
  a{
    font-size: 2rem;
  color: #f3f3f3;
    text-decoration: none;
  }

  main{
    margin: 150px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  section{
    display: flex;
    justify-content: center;
  }

  section img{
    width: 95%;
  }

  footer{
    color:#f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  /* ---------------------------------
  Classes
  --------------------------------- */
  .socials-section{
    height: 60px;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .socials-section ul li{
    margin: 0 140px;
  }

  .socials-section a{
    font-size: 5rem;
  color: #860a35;
  }


/* Menu Page */
#menu-view {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #af2655;
    flex-direction: column;
    border-radius: 65px;
    padding: 6px;
  }
  
  #menu-view h1 {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    color: #f3f3f3;
    padding: 0;
    margin: 3px;
  }
  
  #menu-view table {
    display: flex;
    justify-content: space-evenly;

  }
  
  #menu-view table tr {
    display: flex;
    justify-content: space-evenly;
    font-size: 2.3rem;
  }
  
  #menu-view table td {
    padding: 2%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #f3f3f3;
    font-size: 1.9rem;
  }
  
  #menu-view table th{
    color: #f3f3f3;
  }

  /* Gallery Page */
/* Slideshow container */
.slideshow-container {
    /* max-width: 1000px; */
    width: 59.4%;
    height: 61.8%;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 250px;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  /* About Page */
  #about-page {
    background-color: #af2655;
    width: 45%;
    display: flex;
    justify-content:center;
    flex-direction: column;
    padding: 10px;
    border-radius: 15px;
  }

  #about-page table{
    color: #f3f3f3;
    font-size:2rem;
    
  }

  #about-page tr{
    display:flex;
    justify-content: center;
    align-items: center;
  }

  #about-page p{
    color: #f3f3f3;
    font-size: 1.5rem;
    line-height: 25px;
  }

  span{
    font-size: 1.9rem;
    font-weight:bold ;
  }

  @media screen and (max-width: 500px) {
    body{
      height: 100%;
      background-image:url(image/sprinkle.png);
    }

    section img{
      width: 65%;
    }

    .socials-section ul li{
      margin: 0 80px;
    }

    footer{
      position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
    }

    #menu-view{
      padding: 15px;
    }

    #about-page{
      width: 85%;
    }

    #menu-view table tr {
      font-size: 1.3rem;
    }
    
    #menu-view table td {
      font-size: 0.9rem;
    }

    .slideshow-container {
      width: 89.1%;
      /* width: 35%;
      height: 45%; */
      margin: auto;
    }
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
  }